{
  "stage": 0,
  "plugins": [
    "babel-plugin-module-alias",
    "react-transform"
  ],
  "extra": {
    "module-alias": [
      { "src": "./src/actions", "expose": "actions" },
      { "src": "./src/config", "expose": "config" },
      { "src": "./src/reducers", "expose": "reducers" },
      { "src": "./src/ui", "expose": "ui" }
    ],
    "react-transform": {
      "transforms": [{
        "transform": "react-transform-hmr",
        "imports": ["react"],
        "locals": ["module"]
      }, {
        "transform": "react-transform-catch-errors",
        "imports": ["react", "redbox-react"]
      }]
    }
  }
}