{
  "stage": 0,
  "env": {
    "development": {
      "plugins": [
        "react-transform"
      ],
      "extra": {
        "react-transform": {
           "transforms": [{
             "transform": "react-transform-hmr",
             "imports": ["react"],
             "locals": ["module"]
           }, {
             "transform": "react-transform-catch-errors",
             "imports": ["react", "redbox-react"]
           }]
         }
      }
    }
  },
  "plugins": [
    "babel-plugin-module-alias"
  ],
  "extra": {
    "module-alias": [
      { "src": "./src/actions", "expose": "actions" },
      { "src": "./src/config", "expose": "config" },
      { "src": "./src/reducers", "expose": "reducers" },
      { "src": "./src/ui", "expose": "ui" },
      { "src": "./assets/stylus", "expose": "stylus" }
    ]
  }
}
