{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    ["babel-plugin-module-alias", [
      { "src": "./src/actions", "expose": "actions" },
      { "src": "./src/config", "expose": "config" },
      { "src": "./src/rest", "expose": "rest" },
      { "src": "./src/router", "expose": "router" },
      { "src": "./src/reducers", "expose": "reducers" },
      { "src": "./src/ui/component", "expose": "component" },
      { "src": "./src/ui/container", "expose": "container" },
      { "src": "./assets/stylus", "expose": "stylus" },
      { "src": "./assets/lang", "expose": "lang" }
    ]]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
