
@import 'jeet'
@import 'nib'

@import '../../node_modules/purecss/build/base.css'
@import '../../node_modules/purecss/build/menus.css'
@import '../../node_modules/purecss/build/buttons.css'
@import '../../node_modules/purecss/build/forms.css'
//edit()

#application
  center(700px)
