
@import 'jeet'
@import 'nib'

@import '~purecss/build/base.css'
@import '~purecss/build/menus.css'
@import '~purecss/build/buttons.css'
@import '~purecss/build/forms.css'
//edit()

#application
  center(700px)

.error-panel
  background-color rgb(202, 60, 60)
  border-radius 5px
  height 40px
  line-height 40px
  width 500px
  text-align center
  color white

.center
  margin 50px 150px
